.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.highlightedWrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.postsWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

.paginationWrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
